:root {
 --verde: #1f411c;
}



*::before,
*::after,* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
    font-family: 'Calibri', 'regular', sans-serif;
    font-style: normal;   
    color: aliceblue;
}
a {
    text-decoration: none;
}
li  {
    list-style: none;
}



h2 {
   font-size: calc(30px + 0.390625vw);
}



/** FIN ESTILOS GLOBALES **/

@media all and (max-width: 900px) {

     #navegador, menu {
        display: none;
     }
     .main-nav {
        
        position: fixed;
        top: 0;
        left: 0;
        
        width: 100%;
        margin-left: -100%;
        transition: all 0.2s linear;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 100;
      }
      
      .main-nav.show {
        margin-left: 0;
      }
      
      .nav-links {
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 100%;
        justify-content: flex-start;
      }
      
      .link-item {
        margin-top: 4rem;
        color: #444444;
        text-decoration: none;
        font-weight: bold;
        position: relative;
        font-size: calc(10vw);
        background-color: var(--verde);
        color: aliceblue;
        text-decoration: none;
        border-radius: 10px;
      }
      
      .link-item::after {
        position: absolute;
        content: "";
        background-color: black;
        top: 0;
        left: 0;
        width: 0%;
        height: 3px;
        transition: 0.3s ease all;
      }
      
      .link-item:hover::after {
        width: 100%;
      }
      .nav-links  a:hover {
        background-color: rgb(22, 65, 20);
        color: rgb(241, 168, 10);
        transition: all .3s;
        border-radius: 10px !important;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(7, 94, 84, 1);
        -moz-box-shadow: 0px 0px 15px 0px rgba(7, 94, 84, 1);
        box-shadow: 0px 0px 15px 0px rgb(38, 253, 0);
    }
      
      .button-menu {
        position: absolute;
        top: 0;
        z-index: 60006;
        width: 40px;
        height: 40px;
        border: none;
        display: flex;
        background: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
      
      .button-menu span {
        width: 37px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #ffffff;
        border-radius: 3px;
        transform-origin: 4px 0px;
        transition: all 0.2s linear;
      }
      
      .button-menu.close span {
        opacity: 1;
        transform: rotate(45deg) translate(0px, 0px);
        background: #ffffff;
      }
      
      .button-menu.close span:nth-child(2) {
        transform: rotate(-45deg) translate(-8px, 5px);
      }
      
      .button-menu.close span:nth-child(3) {
        display: none;
      }
      
      .social {
        position: fixed;
        right: 0;
        top: 0 ;
        font-size: 1.5rem;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        z-index: 3000;
        list-style: none;

}
      @media all and (min-width: 900px) 
      {
        .button-menu {
          display: none;
        }
      
       
        .main-nav {
          position: static;
          margin-left: 0;
          flex-basis: 70%;
          height: 100%;
        }
      
        .nav-links {
          width: 100%;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          justify-content: flex-end;
          background: rgb(0, 0, 0);
        }
      
        .link-item {
          display: inline-block;
          margin-top: 0;
          margin-right: 2rem;
        }
      }
   .titulo{
    padding-top: -10vh;
   }
}
   

@media only screen and (min-width: 900px) {
    .main-nav {
        display: none;
    }
    
    #navegador {

        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 49999;
    }
    .social {
        position: fixed;
        right: 0;
        top: 7vw ;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index: 3000;
        list-style: none;
    
    }

    .menu {
        position: relative;
        display: flex;
        height: calc(4vw + 2px);
        background-color: #1e411a;
        text-decoration: none;
        list-style: none;
        justify-content: space-around;
        align-items: center;
    }

    .menu li>a {
        font-size: calc(10px + 2vw);
        background-color: var(--verde);
        color: aliceblue;
        text-decoration: none;
        border-radius: 10px;
    }

    .reservar {
        position: relative;
        margin: auto 0;
        margin-top: 10px;
        width: 95%;
        background-color: #0d3d0b;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-around;
        transition: all 1;
    }

    .submenu>li a {
        display: flex;
        padding: 5px;
       
        border-top: 10px;
        background-color: #0d3d0b;
    }

    .submenu a {
        transition: all .5s;
        justify-content: center;
    }
    .titulo{
        margin-top: calc(10px + 4vw);

    }





 .menu li a:hover {
    background-color: rgb(22, 65, 20);
    color: rgb(241, 168, 10);
    transition: all .3s;
    border-radius: 10px !important;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(7, 94, 84, 1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(7, 94, 84, 1);
    box-shadow: 0px 0px 15px 0px rgb(38, 253, 0);
}

.menu li:hover .submenu {
    visibility: visible;
    display: flex;
    border-radius: 10px;
}

.submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    visibility: hidden;
    text-align: center;
}



.reservar img {
    width: 50vw;
}

.textoreservar {
    border-radius: 10px;
    display: flex;
    background-color: #0d3d0b;
    padding: 1vw;
    display: flex;
    justify-content: center;

}

.reservar h2 {
    padding-top: 1vh;
    text-align: center;
    font-size: calc(13px + 1vw);
    color: aliceblue;
}

img.btn-whatsapp {
    width: 100%;
    cursor: pointer;
    border-radius: 20vw;
}

.botonwassap {
    margin: 8vw;

}

img.btn-whatsapp:hover {
    border-radius: 100px !important;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(7, 94, 84, 1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(7, 94, 84, 1);
    box-shadow: 0px 0px 15px 0px rgb(102, 255, 0);
    transition-duration: 1s;
}

.telefono {
    margin-top: 2vw;

    padding-bottom: 2vw;
}

.telefono img {
    border-radius: 10px;
}

.comollegar {

    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    margin-top: 2vw;
    margin-left: -28%;
    width: 120%;
    background-color: #0c3414;
}


.mapa {
    margin: auto 0;
    position: relative;
    justify-content: center;
}

.textomapa {
    margin: 0 auto;
    padding: 2vw;
}

.mapa {
    position: relative;
    width: 100%;
    border-radius: 10px;
    padding-bottom: 70vh;
    height: 0;
    background-color: #0d3d0b;
}

.mapa iframe {
    border-radius: 10px;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.textomapa p {

    font-size: calc(20px + 1vw);
    color: aliceblue;
    font-style: inherit;
}


}



.email {
    margin: 50px auto 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 75vw;
}

.campo {
    margin: .5em 0;
    display: flex;
    flex-direction: column;
}
.campo input,
.campo textarea {
    outline: none;
    border: none;
    border-radius: 3px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.164);
}

.formulario-btn {
    padding: 1em 1.6em;
    width: 100%;
    max-width: 250px;
    color: black;
    border-radius: 3px;

}


.email li{
    text-align: center;
    margin: 0 auto;
    display: flex;
    background-color: #0d3d0b;
    width: 95%;
    color: aliceblue;
    list-style: none;
    font-size: calc(10px + 2vw);
    border-radius: 10px;
}




.correo img {
    justify-self: center;
    width: 50%;
    border-radius: 10px;
}
.email input:hover, .formulario-btn:hover, .email textarea:hover {
    background-color: rgb(195, 207, 194);
    color: rgb(0);
    transition: all .3s;
    border-radius: 10px !important;
    -webkit-box-shadow: 0px 0px 15px 0px rgb(191, 223, 219);
    -moz-box-shadow: 0px 0px 15px 0px rgb(210, 230, 228);
    box-shadow: 0px 0px 15px 0px rgb(35, 248, 7);
}






.exito  li{
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
    margin-top: 10vw;
    background-color: #0d3d0b;
    width: 100%;
    color: aliceblue;
    font-size: 2vw +10px;
}

@media only screen and (max-width: 800px)
    
{
.titulo {
    margin-top: 40px;
    }
    }

.titulo {
    margin-top: ;
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: calc(10px + 1vw);
    color: #ffffff;
    background: #680c0c;
    
}

.titulo h1 {
    font-size: 10 + 1vw;
}


.contenedor-cabecera {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: center;
    list-style: none;
}



.contenedor-cabecera li img {
    margin: auto 0;
    width: 100%;
    border-radius: 50px;
}

.sabato {
    border-radius: 10px;
}

.nietos {
    font-size: 4px + 2vw;
    background: #000000;
    color: white;
    font-style: oblique;
    text-align: center;
}

.slide-fotos {
    padding-top: 10px;
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.contenedor-fotos {
    display: flex;
    width: 300%;
    animation: movimiento 6s infinite;
    animation-direction: alternate;
}

.slide-fotos li {
    list-style: none;

}

.slide-fotos img {
    width: 100%;
    border-radius: 10px;
}

@keyframes movimiento {

    0% {
        margin-left: 0%;
    }

    30% {
        margin-left: 0%;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    100% {
        margin-left: -200%;
    }

}

/** MAIN **/
.site-main {
    min-height: 100vh;
    max-width: 1200px;
    padding-top: 7rem;
    margin: 0 auto;
    /** display flex convierte en elementos flex a los main-child **/
    display: flex;
    align-items: center;
    justify-content: space-between;

    /** flex-wrap hace que cuando el contenido esta desbordando la pantalla quiebra y pase a columna **/
    flex-wrap: wrap;
    gap: 1em;
}



.icon {
    color: white;
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: all .5s;

}
.icon-instagram {
    background-color: #3f729b;
}
.icon-facebook2 {background: #2e406e;

}

.icon-whatsapp {
  background:   #25d366;

}
.icon:first-child{
    border-radius:  1rem 0 0 0 ;

}
.icon:last-child{
    border-radius:  0 0 0 1rem;

}


.icon:hover{
    padding-right: 3rem;
    border-radius: 1rem 0 0 1 rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);

}


/** si la pantalla es de 768px o menos poner los elementos de site main en una columna **/
@media screen and (max-width: 768px) {
    .site-main {
        flex-direction: column;
    }
}

.main-child {
    min-width: 300px;
    padding: 1em;
    /** flex: crecer = 0 encojerse = 1 **/
    /** 0 = no,       1 = si **/
    flex: 0 1;
    background-color: white;
}

/** MEDIA **/
.video-responsive {
    display: flex;
    padding-top: 15px;
    justify-content: center;

}

.video-responsive video {
    border-radius: 10px;
    width: 95%;
}
.textoeventos h2 {
    font-size: calc(16px + 1vh);
}
.grid {  
    margin-top: 4vw;  
    display: flex;
    width: 98%;
    color: aliceblue;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

.grid img {
    max-width: 300px;
    height: 100%;
}
.fotogaleria {
    margin-top: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 98%;
}

@media screen and (min-width: 800px)
{
.fotogaleria {
    max-width: 30%;
}

@media screen and (max-width: 800px)
{
.fotogaleria {
    margin: 0  auto;
    width: 100%;
}
}



.fotogaleria h2 {
    text-transform: capitalize;
}

.fotogaleria img {
    border-radius: 10px;
    background-color: var(--verde); 
}

.fotogaleria p {
    font-size: 1.5rem;
}

.footer__text {
    margin-top: 4vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   justify-content: space-around;
}
.grid img:hover {
    
    transition: 1s;
    border-radius: 20px !important;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(7, 94, 84, 1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(7, 94, 84, 1);
    box-shadow: 0px 0px 15px 0px rgb(49, 248, 4);
    transition-duration: 1s;
}

.gridvideos li {
    width: 98%;
    margin: 0 auto;
    margin-top: 4vw;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    text-align: center;

}

.videoyoutube iframe {
    
    width: 100%;
    height: 500px;
}

.videoyoutube {

    width: 70vh;
    border-radius: 10px;
}

.videoyoutube :hover {

    transition: 1s;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(7, 94, 84, 1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(7, 94, 84, 1);
    box-shadow: 0px 0px 15px 0px rgb(33, 246, 5);
    transition-duration: 1s;

}

.gridvideos li {

    background-color: #285018;
    margin: 2px;
    padding: 2px;
    list-style: none;

}

.paginafotos {
    color: aliceblue;
    margin-top: 5vw;    
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: fit-content;
}

@media all and (min-width: 1000px) 
{
    

.paginafotos li {
    max-width: 35%;
}
}
.paginafotos img {
    padding: 2px;
    background-color: #0d3d0b;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.recorrido360 {
    text-align: center;
}

.paginafotos IMG:hover {
    
    position: relative;
    transition: ALL 1s;
    z-index: 900000;
    border-radius: 100px !important;
    -webkit-box-shadow: 0px 0px 15px 0px rgb(191, 223, 219);
    -moz-box-shadow: 0px 0px 15px 0px rgb(210, 230, 228);
    box-shadow: 0px 0px 15px 0px rgb(35, 248, 7);
}

.video-responsive2 {
    margin: 0 auto;
    border-style: groove;
    border-color: #1e411a;
    padding: 2px;
    background-color: #0d3d0b;
    width: 80%;
    max-height: fit-content;
    margin-top: 3vw;
    display: flex;
    justify-content: center;
}




.textoeventos {
    margin-top: 5vw;
    display: flex;
    justify-content: center;
    text-align: center;
}